* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

#sketch-area {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 1rem auto;
}

/* the sketch area css makes it wrap up in a nice row */

.cell {
    border: 0.1rem solid black;
}

.main-heading {
    display: flex;
    justify-content: center;
}

.settings {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
